<%= form_for([@event, @schedule]) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :start_on %><br>
    <%= f.date_select :start_on %>
  </div>
  <div class="field">
    <%= f.label :end_on %><br>
    <%= f.date_select :end_on %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
