<% content_for :breadcrumbs do %>
  <li><%= link_to 'Events', events_path %></li>
  <li><%= link_to @event.name, event_path(@event) %></li>
  <li><%= @schedule.name %></li>
<% end %>

<div class="row">
  <div class="small-12 column">
    <table class='schedule'>
      <thead>
        <tr>
          <%= render partial: 'header', collection: @table_data.header.cells %>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'day', collection: @table_data.body,
          locals: { jobs: @event.jobs } %>
      </tbody>
    </table>
  </div>
</div>
