<table class='schedule'>
  <thead>
    <tr>
      <th></th>
      <% @event.jobs.each do |job| %>
        <th><%= job.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @schedule.days.each do |day| %>
      <tr>
        <td><%= day.date.strftime('%b %d') %></td>
        <% @event.jobs.each do |job| %>
          <% assignments = Assignment.includes(:volunteer).where(job: job, day: day) %>
          <td class='schedule-cell'>
            <div class="schedule-day-job">
              <div class="schedule-day-job-confirmed">
                <% assignments.confirmed.each do |confirmed| %>
                  <% confirmed_class = confirmed.absent ? 'absent' : '' %>
                  <div class="schedule-day-job-confirmed-volunteer <%= confirmed_class %>">
                    <%= confirmed.volunteer.name %>
                  </div>
                <% end %>
              </div>
              <div class="schedule-day-job-selector">
                <% assignments.each do |assignment| %>
                  <% assignment_class = assignment.confirmed ? 'confirmed ' : '' %>
                  <% assignment_class += assignment.absent ? 'absent ' : '' %>
                  <div class="schedule-day-job-selector-assignment <%= assignment_class %>">
                    <div class="schedule-day-job-confirmed-volunteer-actions">
                      <%= link_to toggle_confirmed_assignment_path(assignment), method: :put, class: 'schedule-day-job-confirmed-volunteer-actions-confirm' do %>
                        <%= icon('check') %>
                      <% end %>
                      <%= link_to toggle_absent_assignment_path(assignment), method: :put, class: 'schedule-day-job-confirmed-volunteer-actions-absent' do %>
                        <%= icon('times') %>
                      <% end %>
                    </div>
                    <%= assignment.volunteer.name %>
                  </div>
                <% end %>
              </div>
            </div>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', event_path(@event) %>
