<% content_for :breadcrumbs do %>
  <li><%= link_to 'Events', events_path %></li>
  <li><%= @event.name %></li>
<% end %>

<div class="small-12">
  <p id="notice"><%= notice %></p>
</div>

<div class="row">
  <div class="small-12 column column-table-listing">
    <%= link_to new_event_schedule_path(@event), class: 'button tiny' do %>
      <%= icon('plus') %>
    <% end %>
    <h3>Schedules</h3>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Start on</th>
          <th>End on</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @schedules.each do |schedule| %>
          <tr>
            <td><%= link_to schedule.name, [@event, schedule] %></td>
            <td><%= schedule.start_on %></td>
            <td><%= schedule.end_on %></td>
            <td>
              <%= link_to edit_event_schedule_path(@event, schedule) do %>
                <%= icon('edit') %>
              <% end %>
            </td>
            <td>
              <%= link_to [@event, schedule], method: :delete, data: { confirm: 'Are you sure?' } do %>
                <%= icon('trash') %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="small-6 column column-table-listing">
    <%= link_to new_event_volunteer_path(@event), class: 'button tiny' do %>
      <%= icon('plus') %>
    <% end %>
    <h3>Volunteers</h3>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @volunteers.each do |volunteer| %>
          <tr>
            <td><%= volunteer.name %></td>
            <td>
              <%= link_to edit_event_volunteer_path(@event, volunteer) do %>
                <%= icon('edit') %>
              <% end %>
            </td>
            <td>
              <%= link_to [@event, volunteer], method: :delete, data: { confirm: 'Are you sure?' } do %>
                <%= icon('trash') %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="small-6 column column-table-listing">
    <%= link_to new_event_job_path(@event), class: 'button tiny' do %>
      <%= icon('plus') %>
    <% end %>
    <h3>Jobs</h3>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @jobs.each do |job| %>
          <tr>
            <td><%= job.name %></td>
            <td>
              <%= link_to edit_event_job_path(@event, job) do %>
                <%= icon('edit') %>
              <% end %>
              </td>
            <td>
              <%= link_to [@event, job], method: :delete, data: { confirm: 'Are you sure?' } do %>
                <%= icon('trash') %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<hr>
<div class="row">
  <div class="small-6 column">
    <%= link_to "Edit #{@event.name}", edit_event_path(@event), class: 'button expand' %>
  </div>
  <div class="small-6 column">
    <%= link_to "Destroy #{@event.name}", @event, method: :delete,
            data: { confirm: 'Are you sure?' }, class: 'button alert expand' %>
  </div>
</div>
